<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стена</title>
</head>
<body>

    {% if user.is_authenticated %}
        {% include "logout.html" %}
    {% else %}
        <a href="/login">Войти</a>
        <a href="/register">Регистрация</a>
    {% endif %}


    {% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    {% endif %}

    <ul>
    {% for user in users %}
        <li> {{user.username}} {{user.first_name}} {{user.last_name}} </li>
    {% endfor %}

    </ul>

    <ul>
    {% for msg in msgs %}
        <li user="{{msg.user.username}}" > {{msg.msg}} {{msg.dt}} {{msg.user.username}} </li>
    {% endfor %}
    </ul>
</body>
</html>
